<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API</title>

    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    
    <h2>API</h2>

    <br>
    
    <h4>endpoints</h4>
    <ul>
        <!-- <li>/getPrice - [GET]</li> -->
        <li>/alza - [GET] - {link}</li>
        <li>/getprice - [GET] - {link, classname, tag}</li>
    </ul>



</body>
</html>